/* written by Tim McGinley 2022 */
body {
	margin: 0px;
	height: 100vh;
	width: 100vw;
}
/* model*/
.container- {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}
/* The container is divided in 4 different views: plan, table, section and results */

/* the plan contains important information about it, as location, width and length of building and core. */
plan- {
	display: grid;
	height: 40vh;
	width: 50vw;
	justify-content: center;
	align-content: center;
	background-color:#ddd;
	/*border: solid black;
	border-color: #1b1b1b;*/
}
/* plan - this contains a plan of the currently selected floor*/
.plan {
	display:auto;
	background-color:#fff;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	height:100px;
	width: 200px;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	border: 3px solid black;
	justify-content: center;
	align-content: center;
}
#plan-core {
	display:flex;
	background-color:#fff;
	position: relative;
	padding:2px;
	margin:auto;	
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	height:100px;
	width: 200px;
	border: 3px solid black;
	justify-content: center;	
	align-items: center;
}
#core {
	height:50px;
	width: 30px;
	border: 3px solid black;
}



/* The table can have to possible output. 
1. a dynamic table which will read the value and transform the order views.
2. A table which will get different important information about the project after the project is uploaded as a html5 script. */
props- {
	display: grid;
	height: 40vh;
	width: 50vw;
	background-color:#ddd;
	/*justify-content: center;
	align-content: center;
	border-style: solid;
	border-color: #1b1b1b;*/
}

/*.props {
	display:auto;
	background-color:#fff;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	height:100px;
	width: 200px;
	color:#1b1b1b;
	border-top: 4px solid black;
	min-height: 20px;
}*/
table{
	width: 90%;
	
}

table, td {
	border: 1px solid black;
	/*width: 100%;
	height: 60%;*/
}
td {
	height: 20px;
	text-align: left;

}
/* The section gives important information about the height and the number of floors inside the project.*/

section- {
	display: grid;
	height: 60vh;
	width: 50vw;
	justify-content: bottom;
	align-content: center;
	background-color:#ddd;
	/*border-style: solid;
	border-color: #1b1b1b;*/
}

/* The result share structural information about the core and information important for the architect and the PM */
result- {
	display: grid;
	height: 60vh;
	width: 50vw;
	/*justify-content: center;
	align-content: center;*/
	background-color:#ddd;
	/*border-style: solid;
	border-color: #1b1b1b;*/
}
h1 {
	display: block;
	margin: 0;
	font-size: 20px;
}
myPlot- {
	display: grid;
	margin:0;
	width: 50%;
	height: 95%;
	background-color:#ddd;
}

/* follows the project, site, building, floor hierachy */

/* ifcProject*/
project- {
	width: auto;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#ccc;
	border:none;
	color:#1b1b1b;
	margin:auto;
	padding-bottom:50px;
}

/*ifcSite */
site- {
	display:auto;
	margin-top: 20px;
}

/* This is not normally used but has uses */
/*core- {
	display:block;
	background-color:black;
	position:relative;
	padding:2px;
	left:100px;
	margin-bottom:0px;
	border-color: #000;
	width:30px;
	height: 200px;
	margin:auto;
	color:#1b1b1b;
	overflow: hidden;
}*/

/*ifcBuilding */
building- {
	display:block;
	background-color:#ddd;
	padding:0px;
	margin:5px;
	border-color: #000;
	width:270px;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	overflow: hidden;
	margin:auto;
}

/* This could also be zone
it is container for a block of floors */
/*segment- {
	display:block;
	background-color:#fff;
	border-style: dotted;
	position:relative;
	border-color: #000;
	left:-100px;
	margin: auto;
	padding:2px;
	width:225px;
	margin-top:2px;
	color:#1b1b1b;
}

/* ifcBuildingStorey */
floor- {
	display:flex;
	background-color:#fff;
	position:relative;
	padding:2px;
	padding-left:10px;
	width:230px;
	margin:auto;
	margin-top:2px;
	color:#1b1b1b;
	border-bottom: 4px solid black;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}

#floor-middle .floor{
	background-color:#fff;
	width: 90%;
	display: inline-block;
	display:flex;
	margin:0 auto;
	margin-top:2px;
	color:#1b1b1b;
	border-bottom: 4px solid black;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}


#floor {
	width: 50px;
	float: right;
	margin:0 auto;
	color:#1b1b1b;
	border-bottom: 4px solid black;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}

#floor-middle .floor .content .text {
	display: inline-block;
	background-color:#fff;
	padding-left:10px;
	width:30px;
	
	margin:auto;
	color:#1b1b1b;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
	transition: 0.4s;
}
.floor .actions button {
	margin: 0;
	font-size: 10px;	
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}


roof- {
	display:block;
	background-color:#fff transparent;
	position:relative;
	padding:2px;
	padding-left:10px;
	width:230px;
	margin:auto;
	margin-top:2px;
	color:#1b1b1b;
	border-bottom: 4px solid black;
}

/* VIEW DEFINITIONS...
/* plan - this contains a plan of the currently selected floor*/


/* properties - this contains the calculated properties*/


/* MEP stuff is in this floor */


/* ground line */
ground-{
	display:block;
	margin: auto;
	overflow: auto;
	padding-top:0px;
	padding:2px;
	padding-left:10px;
	width:450px;
	border-top: 6px solid black;
	
}

underground- {
	display:flex;
	background-color:#fff;
	position:relative;
	padding:2px;
	padding-left:10px;
	width:230px;
	margin:auto;
	margin-top:2px;
	color:#1b1b1b;
	border-bottom: 4px solid black;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}

/* STYLING */

/* floor styling */
.floor_name {
	float:left;
	padding-left:20px;
}

/* floor styles (based on elevation) */
.floor_upper {
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}
.floor_ground {
	background-color: #eee;
	border-left: 2px dashed gray;
	border-right: 2px dashed gray;
	border-bottom: none;
}
.underground_lower {
	background-color: #ddd;
	border-left: 2px solid brown;
	border-right: 2px solid brown;
	
}

.floor_stats {
	
	float:right;
	padding:0px;
	font-style: italic;
	border-radius:5px;
	background-color:#fff;
	margin-right:10px;
	margin-top:0px;
	
}
.underground_stats {
	
	float:right;
	padding:0px;
	font-style: italic;
	border-radius:5px;
	background-color:#fff;
	margin-right:10px;
	margin-top:0px;
	
}